global:
  name: consul

# Consul Server配置
server:
  replicas: 1         # 单点部署
  bootstrapExpect: 1  # replicas为1时需明确告知consul只有1个节点
  storage: '500Mi'
  storageClass: 'local-sc-consul'  # 是在templates/persistent-volume-claim.yaml中创建的
  securityContext:
    runAsUser: 0      # root用户运行
    runAsGroup: 0
    fsGroup: 0
  resources:
    requests:
      memory: '512Mi'
      cpu: '0.5'
    limits:
      memory: '1Gi'
      cpu: '1'

# Consul Client（Agent）配置
client:
  resources:
    requests:
      memory: '256Mi'
      cpu: '0.5'
    limits:
      memory: '512Mi'
      cpu: '1'

# Connect Inject 配置
connectInject:
  apiGateway:
    manageNonStandardCRDs: true

# UI配置
ui:
  enabled: true
  service:
    type: NodePort
